<div class="container">
  <div class="mat-card login-container">
    <mat-card-title class="login_title">Login</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
        <mat-form-field appearance="fill" class="login_input">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            id="email"
            [(ngModel)]="user.email"
            name="email"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="fill" class="login_input">
          <mat-label>Password</mat-label>
          <input
            matInput
            [type]="showPassword ? 'text' : 'password'"
            id="password"
            [(ngModel)]="user.password"
            name="password"
            required
          />
          <mat-icon-button matSuffix (click)="togglePasswordVisibility()">
            <mat-icon>{{
              showPassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </mat-icon-button>
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          class="btn btn-primary"
          [disabled]="isLoading"
        >
          <i
            class="fa"
            [ngClass]="{
              'fas fa-spin fa-spinner': isLoading,
            }"
          ></i>
          Login
        </button>
        <!-- <button mat-button (click)="forgotPassword()">Forgot Password</button> -->
        <div *ngIf="error" class="error">{{ error }}</div>
      </form>
    </mat-card-content>
  </div>
</div>
