<div class="container">
  <div class="mat-card register_container">
    <mat-card-title class="register_title">
      {{ "AUTH.REGISTER" | translate }}</mat-card-title
    >
    <mat-card-content>
      <mat-error
        class="error_user_container"
        *ngIf="userName.invalid && (userName.dirty || userName.touched)"
      >
        {{ "AUTH.WRONG_USERNAME_MESSAGE" | translate }}
      </mat-error>
      <mat-error
        class="error_password_container"
        *ngIf="password.invalid && (password.dirty || password.touched)"
      >
        {{ "AUTH.WRONG_PASSWORD_MESSAGE" | translate }}
      </mat-error>
      <form (ngSubmit)="onSubmit(registerForm)" #registerForm="ngForm">
        <mat-form-field appearance="fill" class="register_input">
          <mat-label>{{ "AUTH.USERNAME" | translate }}</mat-label>
          <input
            matInput
            type="text"
            id="userName"
            [(ngModel)]="user.userName"
            name="userName"
            required
            pattern="^[a-zA-Z][-_a-zA-Z0-9]{4,}$"
            #userName="ngModel"
          />
        </mat-form-field>
        <mat-form-field appearance="fill" class="register_input">
          <mat-label>{{ "AUTH.EMAIL" | translate }}</mat-label>
          <input
            matInput
            type="email"
            id="email"
            [(ngModel)]="user.email"
            name="email"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="fill" class="register_input">
          <mat-label>{{ "AUTH.PASSWORD" | translate }}</mat-label>
          <input
            matInput
            [type]="showPassword ? 'text' : 'password'"
            id="password"
            [(ngModel)]="user.password"
            name="password"
            required
            pattern="(?=.*\d)(?=.*[A-Z])(?=.*\W).{8,}"
            #password="ngModel"
          />
          <mat-icon-button matSuffix (click)="togglePasswordVisibility()">
            <mat-icon *ngIf="!showPassword">visibility_off</mat-icon>
            <mat-icon *ngIf="showPassword">visibility</mat-icon>
          </mat-icon-button>
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          class="btn btn-primary"
          [disabled]="isLoading"
        >
          <i
            class="fa"
            [ngClass]="{
              'fas fa-spin fa-spinner': isLoading,
            }"
          ></i>
          {{ "AUTH.REGISTER" | translate }}
        </button>
        <div *ngIf="error" class="error">{{ error }}</div>
      </form>
    </mat-card-content>
  </div>
</div>
