<div class="container">
  <div class="back_button_container">
    <button mat-button color="primary" (click)="goBack()">
      {{ "INPUT_TEXT.BACK" | translate }}
    </button>
  </div>
  <div class="tabs">
    <button
      (click)="changeTab('tab1')"
      [ngClass]="{ 'active-tab': activeTab === 'tab1' }"
    >
      {{ "STATISTICS.PRODUCTS" | translate }}
    </button>
    <button
      (click)="changeTab('tab2')"
      [ngClass]="{ 'active-tab': activeTab === 'tab2' }"
    >
      {{ "STATISTICS.INGREDIENTS" | translate }}
    </button>
    <button
      (click)="changeTab('tab3')"
      [ngClass]="{ 'active-tab': activeTab === 'tab3' }"
    >
      {{ "STATISTICS.CONSUMPTION_CHART" | translate }}
    </button>
    <button
      (click)="changeTab('tab4')"
      [ngClass]="{ 'active-tab': activeTab === 'tab4' }"
    >
      {{ "STATISTICS.PREDICTION_CHART" | translate }}
    </button>
  </div>
  <div *ngIf="activeTab === 'tab1'">
    <div class="filter-container">
      <mat-form-field class="filter-field">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input />
      </mat-form-field>
      <div class="action-dropdown">
        <button mat-raised-button [matMenuTriggerFor]="menu" color="primary">
          {{ "INPUT_TEXT.ACTIONS" | translate }}
        </button>
        <mat-menu #menu="matMenu" class="action-menu">
          <button mat-menu-item (click)="openEmailModal()">
            {{ "INPUT_TEXT.SEND_EMAIL" | translate }}
          </button>
          <button mat-menu-item (click)="exportToXLSX()">
            {{ "INPUT_TEXT.EXPORT_XLSX" | translate }}
          </button>
          <button mat-menu-item (click)="exportToPDF()">
            {{ "INPUT_TEXT.EXPORT_PDF" | translate }}
          </button>
          <button
            mat-menu-item
            [useExistingCss]="true"
            printSectionId="quantities"
            ngxPrint
            styleSheetFile="assets/css/print-table.css"
          >
            {{ "INPUT_TEXT.PRINT_TABLE" | translate }}
          </button>
        </mat-menu>
      </div>
    </div>

    <div id="quantities" class="mat-elevation-z8 recipes_container">
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- Recipe Name Column -->
        <ng-container matColumnDef="recipeName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ "CATEGORY.NAME" | translate }}
          </th>
          <td mat-cell *matCellDef="let row">{{ row.recipeName }}</td>
        </ng-container>
        <!-- Amount Column -->
        <ng-container matColumnDef="preparedRecipe.amount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ "INGREDIENT.AMOUNT" | translate }}
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.preparedRecipe.amount }}
          </td>
        </ng-container>
        <!-- Preparation Date Column -->
        <ng-container matColumnDef="preparedRecipe.preparationDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ "INGREDIENT.PREPARATION_DATE" | translate }}
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.preparedRecipe.preparationDate | date : "yyyy-MM-dd" }}
          </td>
        </ng-container>

        <!-- Header row -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <!-- Data row -->
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <div *ngIf="isLoading" class="loading-circle-container">
        <mat-spinner diameter="100"></mat-spinner>
      </div>
      <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
    </div>
  </div>
  <div *ngIf="activeTab === 'tab2'">
    <app-used-ingredients></app-used-ingredients>
  </div>
  <div *ngIf="activeTab === 'tab3'">
    <app-consumption-chart
      [dataSource]="dataSource.filteredData"
    ></app-consumption-chart>
  </div>
  <div *ngIf="activeTab === 'tab4'">
    <app-consumption-prediction-chart></app-consumption-prediction-chart>
  </div>
</div>
