<div class="forgot-password-container">
  <h2>{{ "AUTH.FORGOT_PASSWORD" | translate }}</h2>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="email">{{ "AUTH.EMAIL" | translate }}:</label>
      <input id="email" type="email" formControlName="email" />
      <div *ngIf="email!.invalid && (email!.dirty || email!.touched)">
        <div *ngIf="email!.errors!['required']">
          {{ "AUTH.EMAIL_REQUIRED" | translate }}
        </div>
        <div *ngIf="email!.errors!['email']">
          {{ "AUTH.EMAIL_INVALID" | translate }}
        </div>
      </div>
    </div>
    <button type="submit" [disabled]="forgotPasswordForm.invalid">
      {{ "AUTH.SEND_RESET_LINK" | translate }}
    </button>
  </form>
  <div *ngIf="message">{{ message }}</div>
</div>
