<h2 mat-dialog-title>Change Password</h2>
<mat-dialog-content>
  <!-- Formular pentru schimbarea parolei -->
  <mat-form-field>
    <input matInput placeholder="Current Password" type="password" [(ngModel)]="currentPassword">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="New Password" type="password" [(ngModel)]="newPassword">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="updatePassword()">Save</button>
  <button mat-button (click)="closeDialog()">Cancel</button>
</mat-dialog-actions>
