.container {
  padding: 10px;

  .title_container {
    padding: 10px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
  }

  .back_button_container {
    padding: 10px 0;
  }

  .filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    @media (max-width: 900px) {
      margin-bottom: 0px;
    }
    .filter-field {
      width: 200px;
      display: -webkit-box;
      @media (max-width: 900px) {
        display: unset;
      }
    }

    .add-ingredient-button {
      margin-left: 20px;
    }
  }

  .ingredients_container {
    width: 100%;
    overflow-x: auto;
    padding: 0 30px;

    .ingredient_picture {
      width: 100px;
      height: 100px;
      margin: 10px;
      object-fit: cover;
    }

    .ingredient-row {
      cursor: pointer;
    }
  }
}
