<div class="container">
  <div class="buttons_container">
    <button mat-button color="primary" (click)="goBack()">Back</button>
    <div>
      <button mat-raised-button [matMenuTriggerFor]="menu" color="primary">
        Actions
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="goToRecipeUpdate()">Edit Recipe</button>
        <button mat-menu-item (click)="openDeleteConfirmation()">
          Delete Recipe
        </button>
        <button mat-menu-item (click)="openEmailModal()">Send Email</button>
        <button mat-menu-item (click)="exportToPDF()">Export PDF</button>
        <button
          mat-menu-item
          printSectionId="recipe-details"
          ngxPrint
          styleSheetFile="src/assets/css/print-table.css"
        >
          Print Recipe
        </button>
      </mat-menu>
    </div>
  </div>
  <mat-card>
    <div class="recipe-details__quantity">
      <div>Max amount: {{ recipeAmount?.maximumPossibleRecipes }}</div>
      <div>
        Price/Max amount:
        {{ convertPrice(recipeAmount?.priceAllRecipes || 0, "RON") }}
      </div>
      <div>
        Price/Unit:
        {{ convertPrice(recipeAmount?.priceUnitRecipe || 0, "RON") }}
      </div>
      <form (ngSubmit)="onSubmit()" [formGroup]="quantityForm">
        <mat-form-field class="recipe-details__quantity__input">
          <mat-label>Quantity used</mat-label>
          <input
            matInput
            type="number"
            maxlength="5"
            placeholder="Ex. 50"
            value="0"
            formControlName="quantity_to_use"
            required
          />
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Submit</button>
        <p>{{ missingIngredients }}</p>
      </form>
    </div>
  </mat-card>
  <mat-card class="recipe-details" id="recipe-details">
    <div class="recipe-details__info">
      <div class="recipe-details__picture">
        <img
          [src]="
            recipeDetails.picture
              ? recipeDetails.picture
              : './../../../../assets/images/recipe-default.png'
          "
        />
      </div>
      <h2 class="recipe-details__title">{{ recipeDetails?.name }}</h2>
      <div class="recipe-details__section">
        <h2 class="recipe-details__subtitle">Categories</h2>
        <ul class="recipe-details__category-list">
          <li
            *ngFor="let category of recipeDetails.recipeCategories"
            class="recipe-details__category"
          >
            {{ category.category.name }}
          </li>
        </ul>
      </div>
      <div class="recipe-details__section">
        <h2 class="recipe-details__subtitle">Description</h2>
        <div
          class="recipe-details__content"
          [innerHTML]="recipeDetails?.description"
        ></div>
        <div class="recipe-details__section">
          <h2 class="recipe-details__subtitle">Ingredients</h2>
          <ul class="recipe-details__ingredient-list">
            <li
              *ngFor="let ingredient of recipeDetails.recipeIngredients"
              class="recipe-details__ingredient"
            >
              {{ ingredient.quantity }} {{ ingredient.unit }} -
              {{ ingredient.ingredient.name }}
            </li>
          </ul>
        </div>
        <div class="recipe-details__section">
          <h2 class="recipe-details__subtitle">Cooking Instructions</h2>
          <div
            class="recipe-details__content"
            [innerHTML]="recipeDetails?.cookingInstructions"
          ></div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
