<div class="container">
  <div class="buttons_container">
    <button mat-button color="primary" (click)="goBack()">
      {{ "INPUT_TEXT.BACK" | translate }}
    </button>
    <div>
      <button mat-raised-button [matMenuTriggerFor]="menu" color="primary">
        {{ "INPUT_TEXT.ACTIONS" | translate }}
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="goToRecipeUpdate()">
          {{ "RECIPE.EDIT_RECIPE" | translate }}
        </button>
        <button mat-menu-item (click)="openDeleteConfirmation()">
          {{ "RECIPE.DELETE_RECIPE" | translate }}
        </button>
        <button mat-menu-item (click)="openEmailModal()">
          {{ "INPUT_TEXT.SEND_EMAIL" | translate }}
        </button>
        <button mat-menu-item (click)="exportToPDF()">
          {{ "INPUT_TEXT.EXPORT_PDF" | translate }}
        </button>
        <button
          mat-menu-item
          printSectionId="recipe-details"
          ngxPrint
          styleSheetFile="src/assets/css/print-table.css"
        >
          {{ "RECIPE.PRINT_RECIPE" | translate }}
        </button>
      </mat-menu>
    </div>
  </div>
  <mat-card>
    <div *ngIf="isLoading" class="loading-circle-container">
      <mat-spinner diameter="100"></mat-spinner>
    </div>
    <div *ngIf="!isLoading" class="recipe-details__quantity">
      <div>
        {{ "RECIPE.MAX_AMOUNT" | translate }}:
        {{ recipeAmount?.maximumPossibleRecipes }}
      </div>
      <div>
        {{ "RECIPE.PRICE_MAX" | translate }}:
        {{ convertPrice(recipeAmount?.priceAllRecipes || 0, "RON") }}
      </div>
      <div>
        {{ "RECIPE.PRICE_UNIT" | translate }}:
        {{ convertPrice(recipeAmount?.priceUnitRecipe || 0, "RON") }}
      </div>
      <form (ngSubmit)="onSubmit()" [formGroup]="quantityForm">
        <mat-form-field class="recipe-details__quantity__input">
          <mat-label>{{ "RECIPE.QUANTITY_USED" | translate }}</mat-label>
          <input
            matInput
            type="number"
            maxlength="5"
            placeholder="Ex. 50"
            value="0"
            formControlName="quantity_to_use"
            required
          />
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">
          {{ "RECIPE.SUBMIT" | translate }}
        </button>
        <p *ngIf="missingIngredients.length">
          {{ "RECIPE.QUANTITY_UNAVAILABLE" | translate }}
        </p>
        <div *ngFor="let ingredient of missingIngredients">
          <p>
            {{ ingredient.quantity }} {{ ingredient.unit }}
            {{ ingredient.name }}
          </p>
        </div>
      </form>
    </div>
  </mat-card>
  <mat-card class="recipe-details" id="recipe-details">
    <div *ngIf="isLoading" class="loading-circle-container">
      <mat-spinner diameter="100"></mat-spinner>
    </div>
    <div *ngIf="!isLoading" class="recipe-details__info">
      <div class="recipe-details__picture">
        <img
          [src]="
            recipeDetails.picture
              ? recipeDetails.picture
              : './../../../../assets/images/recipe-default.png'
          "
        />
      </div>
      <h2 class="recipe-details__title">{{ recipeDetails?.name }}</h2>
      <div class="recipe-details__section">
        <h2 class="recipe-details__subtitle">
          {{ "RECIPE.CATEGORIES" | translate }}
        </h2>
        <ul class="recipe-details__category-list">
          <li
            *ngFor="let category of recipeDetails.recipeCategories"
            class="recipe-details__category"
          >
            {{ category.category.name }}
          </li>
        </ul>
      </div>
      <div class="recipe-details__section">
        <h2 class="recipe-details__subtitle">
          {{ "CATEGORY.DESCRIPTION" | translate }}
        </h2>
        <div
          class="recipe-details__content"
          [innerHTML]="recipeDetails?.description"
        ></div>
        <div class="recipe-details__section">
          <h2 class="recipe-details__subtitle">
            {{ "RECIPE.INGREDIENTS" | translate }}
          </h2>
          <ul class="recipe-details__ingredient-list">
            <li
              *ngFor="let ingredient of recipeDetails.recipeIngredients"
              class="recipe-details__ingredient"
            >
              {{ ingredient.quantity }} {{ ingredient.unit }} -
              {{ ingredient.ingredient.name }}
            </li>
          </ul>
        </div>
        <div class="recipe-details__section">
          <h2 class="recipe-details__subtitle">
            {{ "RECIPE.COOKING_INSTRUCTION" | translate }}
          </h2>
          <div
            class="recipe-details__content"
            [innerHTML]="recipeDetails?.cookingInstructions"
          ></div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
