.container {
  display: flex;
  justify-content: center;
  padding: 20px;

  .buttons_container {
    padding: 10px 0 20px;
    display: flex;
    justify-content: space-between;
  }

  .recipe-details {
    padding: 50px;
    margin-top: 20px;

    &__info {
      ul {
        margin-left: 20px;
      }
    }

    &__picture {
      display: flex;
      justify-content: center;
      margin: 20px 0;
      img {
        object-fit: fill;
        width: 400px;
        height: 400px;
        @media (max-width: 1024px) {
          max-width: 100%;
          height: auto;
        }
      }
    }

    &__title {
      font-size: 60px;
      font-weight: bold;
      margin: 50px 0;
      @media (max-width: 1024px) {
        line-height: normal;
      }
    }

    &__description {
      font-size: 16px;
      margin-bottom: 20px;
    }

    &__content {
      margin-left: 20px;
    }

    &__section {
      margin-bottom: 20px;

      &__subtitle {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
      }

      &__category-list,
      &__ingredient-list {
        list-style-type: none;
        padding: 0;

        &__category,
        &__ingredient {
          font-size: 16px;
          margin-bottom: 5px;
        }
      }
    }

    &__quantity {
      display: flex;
      flex-direction: column;
      padding: 50px;

      button {
        margin-left: 15px;
      }

      &__input {
        margin-top: 15px;
        max-width: fit-content;
      }
    }
  }
}
