<div class="container">
  <div class="back_button_container">
    <button mat-button color="primary" (click)="goBack()">Back</button>
  </div>
  <div class="title_container">Quantity {{ ingredintName }}</div>

  <div class="actions_container">
    <button
      mat-raised-button
      color="primary"
      printSectionId="quantities"
      ngxPrint
      styleSheetFile="src/assets/css/print-table.css"
    >
      Print Table
    </button>
    <div class="export-dropdown">
      <button mat-raised-button color="primary" (click)="toggleExportMenu()">
        Export
      </button>
      <div class="export-menu" *ngIf="showExportMenu">
        <button mat-button (click)="exportToCSV()">CSV</button>
        <button mat-button (click)="exportToXLSX()">XLSX</button>
        <button mat-button (click)="exportToPDF()">PDF</button>
      </div>
    </div>
  </div>
  <div class="filter-container">
    <mat-form-field class="filter-field">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input />
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      class="add-quantity-button"
      *ngIf="ingredientId !== 0"
      (click)="openOperationModal('add', null)"
    >
      Add Quantity
    </button>
  </div>

  <div id="quantities" class="mat-elevation-z8 quantities_container">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
        <td mat-cell *matCellDef="let row">{{ row.amount }}</td>
      </ng-container>

      <!-- Unit Column -->
      <ng-container matColumnDef="unit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Unit</th>
        <td mat-cell *matCellDef="let row">{{ row.unit }}</td>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Price/Unit</th>
        <td mat-cell *matCellDef="let row">{{ row.price }}</td>
      </ng-container>

      <!-- Currency Column -->
      <ng-container matColumnDef="currency">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Currency</th>
        <td mat-cell *matCellDef="let row">{{ row.currency }}</td>
      </ng-container>

      <!-- Expiring Date Column -->
      <ng-container matColumnDef="expiringDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Expiring Date</th>
        <td
          mat-cell
          *matCellDef="let row"
          [ngClass]="{
            'expiring-soon': isExpiringSoon(row.expiringDate),
            expired: isExpired(row.expiringDate)
          }"
        >
          {{ row.expiringDate | date : "yyyy-MM-dd" }}
          <mat-icon class="status-icon" *ngIf="isExpiringSoon(row.expiringDate)"
            >warning</mat-icon
          >
          <mat-icon class="status-icon" *ngIf="isExpired(row.expiringDate)"
            >error</mat-icon
          >
        </td>
      </ng-container>

      <!-- Date Of Purchase Column -->
      <ng-container matColumnDef="dateOfPurchase">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Date Of Purchase
        </th>
        <td mat-cell *matCellDef="let row">
          {{ row.dateOfPurchase | date : "yyyy-MM-dd" }}
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="action_column"></th>
        <td mat-cell *matCellDef="let row">
          <button
            mat-icon-button
            color="warn"
            class="delete-button"
            (click)="openDeleteConfirmation(row.id); $event.stopPropagation()"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="openOperationModal('edit', row)"
        class="quantity-row"
      ></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>
    <div *ngIf="isLoading" class="loading-circle-container">
      <mat-spinner diameter="100"></mat-spinner>
    </div>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of users"
    ></mat-paginator>
  </div>
</div>
