<div class="container">
  <div>
    <button class="recipe-button" (click)="goToCategoryManagement('recipe')">
      Create more categories
    </button>
  </div>
  <div class="filter-container">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. Mia"
        #input
      />
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="goToRecipeCreate()">
      Add Recipe
    </button>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>

      <!-- Picture Column -->
      <ng-container matColumnDef="picture">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Picture</th>
        <td mat-cell *matCellDef="let row">
          <img [src]="row.picture" />
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row">{{ row.name }}</td>
      </ng-container>

      <!-- Short Description Column -->
      <ng-container matColumnDef="shortDescription">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Short Description
        </th>
        <td mat-cell *matCellDef="let row">{{ row.shortDescription }}</td>
      </ng-container>

      <!-- Category Column -->
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
        <td mat-cell *matCellDef="let row">
          <ng-container
            *ngIf="row.recipeCategories && row.recipeCategories.length > 0"
          >
            <p *ngFor="let category of row.recipeCategories">
              {{ category.category.name }}
            </p>
          </ng-container>
          <ng-container
            *ngIf="!row.recipeCategories || row.recipeCategories.length === 0"
          >
            <p>No categories</p>
          </ng-container>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="goToRecipeDetails(row.id)"
      >
        <!-- Row shown when there is no matching data. -->
      </tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of users"
    ></mat-paginator>
  </div>
</div>
