.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: rgba(0, 0, 0, 0.54);
}

.dialog-content {
  padding: 20px;
}

.form-field {
  width: 100%;
  margin-bottom: 20px;
}

.file-upload {
  margin-bottom: 20px;
}

.dialog-actions {
  padding: 20px;
}

.cancel-button {
  color: rgba(0, 0, 0, 0.54);
}

.file-name {
  margin-left: 1rem;
}

.input_file_container {
  margin: 0 0 1rem;
}
