<h2 mat-dialog-title>
  {{ data.mode === "add" ? "Add Quantity" : "Edit Quantity" }}
  <button mat-icon-button mat-dialog-close class="close-button">
    <mat-icon aria-label="Close dialog">close</mat-icon>
  </button>
</h2>

<mat-dialog-content class="dialog-content">
  <form [formGroup]="ingredientQuantityForm">
    <mat-form-field class="form-field">
      <mat-label>Amount</mat-label>
      <input matInput type="number" formControlName="amount" required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Unit</mat-label>
      <mat-select formControlName="unit" required>
        <mat-option *ngFor="let unitOption of unit" [value]="unitOption">{{
          unitOption
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Price/Unit</mat-label>
      <input matInput formControlName="price" required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Currency</mat-label>
      <mat-select formControlName="currency" required>
        <mat-option
          *ngFor="let currencyOption of currency"
          [value]="currencyOption"
          >{{ currencyOption }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Expiring Date</mat-label>
      <input
        matInput
        [matDatepicker]="expiringDatePicker"
        formControlName="expiringDate"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="expiringDatePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #expiringDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Date Of Purchase</mat-label>
      <input
        matInput
        [matDatepicker]="dateOfPurchasePicker"
        formControlName="dateOfPurchase"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="dateOfPurchasePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #dateOfPurchasePicker></mat-datepicker>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="dialog-actions" align="end">
  <button mat-button class="cancel-button" (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSaveClick()">
    Save
  </button>
</mat-dialog-actions>
