<div class="container">
  <mat-card class="recipe_form__container">
    <div class="buttons_container">
      <button mat-button color="primary" (click)="goBack()">
        {{ "INPUT_TEXT.BACK" | translate }}
      </button>
      <button mat-raised-button color="primary" (click)="onSubmit()">
        {{ "INPUT_TEXT.SAVE" | translate }}
      </button>
    </div>
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="recipe_inputs__container">
        <div class="left_container">
          <div class="input_field">
            <mat-form-field appearance="fill" class="input_field">
              <mat-label>{{ "CATEGORY.NAME" | translate }}</mat-label>
              <input matInput fullwidth formControlName="name" required />
            </mat-form-field>
            <div class="input_file_container">
              <button
                type="button"
                mat-raised-button
                (click)="fileInput.click()"
              >
                {{ "INPUT_TEXT.CHOOSE_FILE" | translate }}
              </button>
              <input
                hidden
                (change)="onFileSelected($event)"
                #fileInput
                type="file"
                accept="image/*"
              />
              <span class="file-name">{{ selectedFile?.name }}</span>
            </div>
          </div>
          <div class="input_field">
            <mat-form-field appearance="fill" class="input_field">
              <mat-label>{{ "RECIPE.CATEGORIES" | translate }}</mat-label>
              <mat-select formArrayName="categories" multiple required>
                <mat-option
                  *ngFor="let category of categories; let i = index"
                  [value]="category.id"
                  (click)="onCategorySelectionChange(category)"
                >
                  {{ category.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngIf="selectedCategories.length === 0" class="error_message">
              {{ "RECIPE.ERROR.CATEGORY_REQUIRED" | translate }}
            </div>
            <div
              *ngIf="selectedCategories.length > 0"
              class="selected_category__container"
            >
              <mat-chip-set>
                <mat-chip
                  *ngFor="let category of selectedCategories; let i = index"
                  (removed)="removeCategory(i)"
                >
                  {{ category.name }}
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
              </mat-chip-set>
            </div>
          </div>
        </div>
        <mat-form-field appearance="fill" class="shortDescription_container">
          <mat-label>{{ "RECIPE.SHORT_DESCRIPTION" | translate }}</mat-label>
          <textarea
            matInput
            formControlName="shortDescription"
            required
            class="shortDescription_input"
          ></textarea>
        </mat-form-field>
      </div>
      <div class="recipe_ingredients__container">
        <button
          mat-raised-button
          type="button"
          (click)="addIngredientField()"
          class="recipe_ingredients_button"
        >
          {{ "INGREDIENT.ADD_INGREDIENT" | translate }}
        </button>
        <div
          formArrayName="selectedIngredients"
          class="recipe_selected_ingredients__container"
        >
          <div
            *ngFor="let ingredientField of selectedIngredients; let i = index"
            [formGroupName]="i"
            class="ingredient_row"
          >
            <mat-form-field appearance="fill">
              <mat-label>{{ "RECIPE.INGREDIENTS" | translate }}</mat-label>
              <input
                type="text"
                matInput
                [matAutocomplete]="autoIngredient"
                formControlName="selectedIngredientInput"
              />
              <mat-autocomplete
                #autoIngredient="matAutocomplete"
                (optionSelected)="onIngredientSelected($event.option.value, i)"
              >
                <mat-option
                  *ngFor="let ingredient of filteredIngredients | async"
                  [value]="ingredient"
                >
                  {{ ingredient.name }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>{{ "INGREDIENT.QUANTITY" | translate }}</mat-label>
              <input
                matInput
                type="number"
                formControlName="selectedIngredientQuantity"
                placeholder="Quantity"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>{{ "INGREDIENT.UNIT" | translate }}</mat-label>
              <mat-select formControlName="selectedIngredientUnit" required>
                <mat-option
                  *ngFor="let unitOption of unit"
                  [value]="unitOption"
                >
                  {{ unitOption }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button
              mat-raised-button
              type="button"
              color="warn"
              class="removeButton"
              (click)="removeIngredientField(i)"
            >
              {{ "RECIPE.REMOVE" | translate }}
            </button>
          </div>
        </div>
        <div *ngIf="selectedIngredients.length === 0" class="error_message">
          {{ "RECIPE.ERROR.INGREDIENT_REQUIRED" | translate }}
        </div>
      </div>
      <div class="recipe_description_container">
        <div class="form-group">
          <label for="description"
            >{{ "CATEGORY.DESCRIPTION" | translate }}:</label
          >
          <editor
            apiKey="c8qwc5cv96qiwizuswzet80gvul391n2juf3v14t1vs4rcem"
            id="description"
            formControlName="description"
            required
          ></editor>
        </div>
        <div class="form-group">
          <label for="cookingInstructions"
            >{{ "RECIPE.COOKING_INSTRUCTION" | translate }}:</label
          >
          <editor
            apiKey="c8qwc5cv96qiwizuswzet80gvul391n2juf3v14t1vs4rcem"
            id="cookingInstructions"
            formControlName="cookingInstructions"
            required
          ></editor>
        </div>
      </div>
    </form>
  </mat-card>
</div>
