<div class="category-page container">
  <div class="back_button_container">
    <button mat-button color="primary" (click)="goBack()">
      {{ "INPUT_TEXT.BACK" | translate }}
    </button>
  </div>
  <div class="filter-container">
    <mat-form-field class="filter-field">
      <mat-label>{{ "INPUT_TEXT.FILTER" | translate }}</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        [placeholder]="'INPUT_TEXT.FILTER_PLACEHOLDER' | translate"
        #input
      />
    </mat-form-field>
    <div class="actions-container">
      <button
        mat-raised-button
        color="primary"
        class="recipe-button"
        (click)="goToStatistics()"
      >
        {{ "CATEGORY.STATISTICS" | translate }}
      </button>
      <button
        mat-raised-button
        color="primary"
        class="add-category-button"
        (click)="openOperationModal('add', null)"
      >
        {{ "CATEGORY.ADD_CATEGORY" | translate }}
      </button>
    </div>
  </div>

  <div class="grid-container">
    <ng-container *ngIf="displayedCategories.length > 0; else noCategories">
      <div
        class="card"
        *ngFor="let category of displayedCategories"
        (click)="goToElements(category)"
      >
        <img
          [src]="
            category.picture
              ? category.picture
              : './../../../../assets/images/category-default.png'
          "
          alt="category picture"
          class="category-image"
        />
        <div class="category-details">
          <h2>{{ category.name }}</h2>
          <p>{{ category.description }}</p>
          <div class="actions">
            <button
              mat-icon-button
              color="warn"
              class="delete-button"
              (click)="
                openDeleteConfirmation(category.id); $event.stopPropagation()
              "
            >
              <mat-icon>delete</mat-icon>
            </button>
            <button
              mat-icon-button
              (click)="
                openOperationModal('edit', category); $event.stopPropagation()
              "
            >
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #noCategories>
      <p>{{ "CATEGORY.NO_CATEGORY" | translate }}</p>
    </ng-template>
  </div>
  <div *ngIf="isLoading" class="loading-circle-container">
    <mat-spinner diameter="100"></mat-spinner>
  </div>
  <mat-paginator
    class="paginator"
    [length]="dataSource.data.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onPageChange($event)"
  ></mat-paginator>
</div>
