.container {
  align-items: center;
}

.recipe-details {
  width: 80%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;

  &__title {
    margin-bottom: 20px;
    font-size: 24px;
  }

  &__section {
    margin-bottom: 30px;

    &__subtitle {
      margin-bottom: 10px;
      font-size: 18px;
    }

    &__description,
    &__instructions {
      margin-bottom: 0;
      font-size: 16px;
    }

    &__category-list,
    &__ingredient-list {
      list-style-type: none;
      padding: 0;

      &__category,
      &__ingredient {
        margin-bottom: 5px;
        font-size: 16px;
      }
    }
  }
}
