<div class="reset-password-container">
  <h2>{{ "AUTH.RESET_PASSWORD" | translate }}</h2>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="newPassword">{{ "MODALS.NEW_PASSWORD" | translate }}:</label>
      <input id="newPassword" type="password" formControlName="newPassword" />
      <div
        *ngIf="
          newPassword!.invalid && (newPassword!.dirty || newPassword!.touched)
        "
      >
        <div *ngIf="newPassword!.errors?.['required']">
          {{ "AUTH.PASSWORD_REQUIRED" | translate }}
        </div>
        <div *ngIf="newPassword!.errors?.['minlength']">
          {{ "AUTH.PASSWORD_INVALID" | translate }}
        </div>
      </div>
    </div>
    <button type="submit" [disabled]="resetPasswordForm.invalid">
      {{ "AUTH.RESET_PASSWORD2" | translate }}
    </button>
  </form>
  <div *ngIf="message">{{ message }}</div>
</div>
