<h2 mat-dialog-title>
  {{ data.mode === "add" ? "Add Category" : "Edit Category" }}
</h2>

<mat-dialog-content>
  <form [formGroup]="categoryForm">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Short Description</mat-label>
      <textarea matInput formControlName="shortDescription" required></textarea>
    </mat-form-field>
    <div class="form-group">
      <label for="description">Description:</label>
      <editor
        apiKey="c8qwc5cv96qiwizuswzet80gvul391n2juf3v14t1vs4rcem"
        id="description"
        formControlName="description"
        required
      ></editor>
    </div>

    <input type="file" (change)="onFileSelected($event)" />
    <input type="checkbox" formControlName="isRecipe" /> Is Recipe
  </form></mat-dialog-content
>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button color="accent" (click)="onSaveClick()">Save</button>
</mat-dialog-actions>
