@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import '~@fortawesome/fontawesome-free/css/all.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

html {
  background-color: #fff;
  color: #555;
  font-weight: 400;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: auto;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
