<h2 mat-dialog-title>{{ "MODALS.CONFIRM_LOGOUT" | translate }}</h2>
<button mat-icon-button mat-dialog-close class="close-button">
  <mat-icon aria-label="Close dialog">close</mat-icon>
</button>
<mat-dialog-content>{{
  "MODALS.LOGOUT_MESSAGE" | translate
}}</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button color="warn" [mat-dialog-close]="false">
    {{ "MODALS.NO" | translate }}
  </button>
  <button mat-button color="primary" [mat-dialog-close]="true">
    {{ "MODALS.YES" | translate }}
  </button>
</mat-dialog-actions>
