<h2 mat-dialog-title>
  {{ data.mode === "add" ? "Add Category" : "Edit Category" }}
  <button mat-icon-button mat-dialog-close class="close-button">
    <mat-icon aria-label="Close dialog">close</mat-icon>
  </button>
</h2>

<mat-dialog-content class="dialog-content">
  <form [formGroup]="categoryForm">
    <mat-form-field class="form-field">
      <mat-label>{{ "CATEGORY.NAME" | translate }}</mat-label>
      <input matInput formControlName="name" required />
      <mat-error *ngIf="categoryForm.get('name') === null">
        {{ "CATEGORY.NAME_REQUIRED" | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>{{ "CATEGORY.DESCRIPTION" | translate }}</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <button type="button" mat-raised-button (click)="fileInput.click()">
      {{ "INPUT_TEXT.CHOOSE_FILE" | translate }}
    </button>
    <input
      hidden
      (change)="onFileSelected($event)"
      #fileInput
      type="file"
      accept="image/*"
    />
    <span class="file-name">{{ selectedFile?.name }}</span>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="dialog-actions" align="end">
  <button mat-button class="cancel-button" (click)="onNoClick()">
    {{ "INPUT_TEXT.CANCEL" | translate }}
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="onSaveClick()"
    [disabled]="categoryForm.get('name') == null"
  >
    {{ "INPUT_TEXT.SAVE" | translate }}
  </button>
</mat-dialog-actions>
